@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", "Afacad Flux", Arial, sans-serif;
}

body {
    background-color: #ebebeb;
    color: #333;
}

.header {
    width: 80%;
    margin: 40px auto;
    text-align: center;
}

.welcome_msg span {
    font-style: italic;
}

.welcome_msg {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 5px;
}

h1 {
    font-weight: 900;
    color: #b849fc;
}

h2 {
    font-weight: 800;
    margin: 10px auto;
}

.logout_container {
    position: fixed;
    bottom: 1.2%;
    right: 2%;
}

.logout_container button {
    background-color: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #333;
}

.form_container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

.inp_form {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 15px;
    background-color: #b849fc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.frm_btn_container {
    display: flex;
}

.btn_show_frm {
    background-color: transparent;
    border: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-weight: 700;
    font-size: 1em;
}

.returning {
    background-color: #f0f0f0;
    color: #333;
    margin-left: auto;
}

.reset_btn,
.new_user {
    background-color: #f0f0f0;
    color: #333;
    margin-left: 10px;
}

form button:hover {
    background-color: #9d31d3;
}

.new_user:hover,
.returning:hover,
.sdt_btn:hover {
    background-color: #808080;
    color: white;
}

.list_container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
}

li {
    padding: 15px 10px;
    border-bottom: 1px solid #ccc;
    min-height: 93px;
}

li:last-child {
    border-bottom: none;
    padding-bottom: 10px;
}

strong {
    color: #b849fc;
}

a {
    display: inline-block;
    color: #484848;
}

a:visited {
    color: #6f0cad;
}

.blog_details {
    margin-top: 5px;
    line-height: 1.5;
}

.blog_details p:last-child {
    margin-top: 10px;
    color: #5d5d5d;
}

.btn_container {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

/* .specific_show_btn{
  display: none;
} */

.always_show_btn {
    margin-right: auto;
}

.lks_btn,
.dlt_btn {
    margin-left: 10px;
}

.upd_btn,
.dlt_btn,
.sdt_btn,
.lks_btn {
    width: auto;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upd_btn,
.lks_btn {
    background-color: #b849fc;
    color: white;
}

.upd_btn:hover,
.lks_btn:hover {
    background-color: #9d31d3;
}

.dlt_btn:hover,
.reset_btn:hover {
    background-color: #ff4d4d;
    color: white;
}
