@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', Arial, Helvetica, sans-serif;
}

body {
  width: 90%;
  margin: 20px auto;
}

.content_containers {
  margin: 20px auto;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
}

h1 {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h2 {
  margin-bottom: 10px;
}

a:link { color: rgb(65, 65, 65); }
a:visited{ color: grey; }
a:hover{ color: rgb(16, 182, 182); }

form div{
  margin-bottom: 6px;
  font-size: 1.05em;
}

input {
  margin-left: 5px;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px 5px;
  width: 300px;
}

form button {
  background-color: whitesmoke;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 3px 7px;
  cursor: pointer;
}